.resources_button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:1vh 0.3em 0.3em 1vh;
    border-radius:3em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4a55af;
    text-align:center;
    transition: all 0.2s;
}
.resources_button:hover{
    background-color:#ff8946;
}
@media all and (max-width:30em){
    .resources_button{
    display:block;
    margin:0.2em auto;
    }
}

