.resources_button {
    border-radius:5px;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color:#FFFFFF;
    background-color:#4a55af;
    text-align: center;
    transition: all 0.2s;
    margin: 5px;
    outline: none;
    border: none;
}
.resources_button:hover{
    background-color:#ff8946;
}
@media all and (max-width:30em){
    .resources_button{
    display:block;
    margin:0.2em auto;
    }
}

